# these libs are requested to build common python libs 
# if you are an advance user and are sure to not use them you can comment the following lines
wheel
Cython
pybind11
# module libs (it will isntall also their requirements)
git+https://github.com/dfguerrerom/biota.git

pyproj<3.0.0

# uncomment if you want to run your module with GEE in SEPAL
git+https://github.com/openforis/earthengine-api.git@v0.1.270#egg=earthengine-api&subdirectory=python

# the base lib to run any sepal_ui based app 
# don't forget to fix it to a specific version when you're app is ready
sepal_ui==2.12.0
shapely==1.8.3

# widgets are not displayed when using ipyvuetify==1.8.4 and ipywidgets==8.0.2
ipyvuetify==1.8.2
ipywidgets==7.6.5

# by setting numpy as requirement, it will be installed before gdal, avoiding
# the gdal_array import error. check #42 and https://github.com/OSGeo/gdal/pull/2281
GDAL[numpy]==3.4.3