wheel
voila

# module libs (it will isntall also their requirements)
git+https://github.com/dfguerrerom/biota.git


# Fixes authentication process
git+https://github.com/12rambau/sepal_ui.git@sepal_pre_release

shapely

# by setting numpy as requirement, it will be installed before gdal, avoiding
# the gdal_array import error. check #42 and https://github.com/OSGeo/gdal/pull/2281
GDAL[numpy]==3.8.3


# trigger build
